--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: body_part; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.body_part (
    body_part_id integer NOT NULL,
    body_part_name character varying(255)
);


ALTER TABLE public.body_part OWNER TO postgres;

--
-- Name: competition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competition (
    competition_id integer NOT NULL,
    competition_name character varying(255),
    competition_gender character varying(10),
    country_name character varying(255)
);


ALTER TABLE public.competition OWNER TO postgres;

--
-- Name: competition_stage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competition_stage (
    competition_stage_id integer NOT NULL,
    competition_stage_name character varying(255)
);


ALTER TABLE public.competition_stage OWNER TO postgres;

--
-- Name: country; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.country (
    country_id integer NOT NULL,
    country_name character varying(255)
);


ALTER TABLE public.country OWNER TO postgres;

--
-- Name: dribble; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dribble (
    dribble_id uuid NOT NULL,
    match_id integer,
    player_id integer,
    nutmeg boolean,
    overrun boolean,
    no_touch boolean,
    dribble_outcome_id integer
);


ALTER TABLE public.dribble OWNER TO postgres;

--
-- Name: dribble_outcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dribble_outcome (
    dribble_outcome_id integer NOT NULL,
    dribble_outcome_name character varying(255)
);


ALTER TABLE public.dribble_outcome OWNER TO postgres;

--
-- Name: dribbled_past; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dribbled_past (
    dribbled_past_id uuid NOT NULL,
    match_id integer,
    player_id integer
);


ALTER TABLE public.dribbled_past OWNER TO postgres;

--
-- Name: freeze_frame; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.freeze_frame (
    freeze_frame_id integer NOT NULL,
    shot_id uuid,
    player_id integer,
    team_id integer,
    location character varying(255)
);


ALTER TABLE public.freeze_frame OWNER TO postgres;

--
-- Name: freeze_frame_freeze_frame_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.freeze_frame_freeze_frame_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.freeze_frame_freeze_frame_id_seq OWNER TO postgres;

--
-- Name: freeze_frame_freeze_frame_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.freeze_frame_freeze_frame_id_seq OWNED BY public.freeze_frame.freeze_frame_id;


--
-- Name: lineup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lineup (
    team_id integer NOT NULL,
    match_id integer NOT NULL,
    player_id integer NOT NULL
);


ALTER TABLE public.lineup OWNER TO postgres;

--
-- Name: manager; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manager (
    manager_id integer NOT NULL,
    manager_name character varying(255),
    manager_nickname character varying(255),
    manager_dob date,
    country_id integer
);


ALTER TABLE public.manager OWNER TO postgres;

--
-- Name: match; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.match (
    match_id integer NOT NULL,
    competition_id integer,
    season_id integer,
    match_date date,
    kick_off time without time zone,
    stadium_id integer,
    referee_id integer,
    home_team_id integer,
    home_team_manager_id integer,
    home_team_group character varying(255),
    home_team_score integer,
    away_team_id integer,
    away_team_manager_id integer,
    away_team_group character varying(255),
    away_team_score integer,
    match_status character varying(255),
    match_week integer,
    competition_stage_id integer
);


ALTER TABLE public.match OWNER TO postgres;

--
-- Name: pass; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pass (
    pass_id uuid NOT NULL,
    match_id integer,
    player_id integer,
    recipient_id integer,
    length numeric,
    angle numeric,
    height_id integer,
    end_location character varying(255),
    backheel boolean,
    deflected boolean,
    miscommunication boolean,
    pass_cross boolean,
    cut_back boolean,
    switch boolean,
    shot_assist boolean,
    goal_assist boolean,
    body_part_id integer,
    pass_type_id integer,
    pass_outcome_id integer,
    pass_technique_id integer
);


ALTER TABLE public.pass OWNER TO postgres;

--
-- Name: pass_height; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pass_height (
    height_id integer NOT NULL,
    height_name character varying(255)
);


ALTER TABLE public.pass_height OWNER TO postgres;

--
-- Name: pass_outcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pass_outcome (
    pass_outcome_id integer NOT NULL,
    pass_outcome_name character varying(255)
);


ALTER TABLE public.pass_outcome OWNER TO postgres;

--
-- Name: pass_technique; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pass_technique (
    pass_technique_id integer NOT NULL,
    pass_technique_name character varying(255)
);


ALTER TABLE public.pass_technique OWNER TO postgres;

--
-- Name: pass_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pass_type (
    pass_type_id integer NOT NULL,
    pass_type_name character varying(255)
);


ALTER TABLE public.pass_type OWNER TO postgres;

--
-- Name: player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.player (
    player_id integer NOT NULL,
    player_name character varying(255),
    player_nickname character varying(255),
    jersey_number integer,
    country_id integer
);


ALTER TABLE public.player OWNER TO postgres;

--
-- Name: referee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.referee (
    referee_id integer NOT NULL,
    referee_name character varying(255),
    country_id integer
);


ALTER TABLE public.referee OWNER TO postgres;

--
-- Name: season; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.season (
    season_id integer NOT NULL,
    season_name character varying(255)
);


ALTER TABLE public.season OWNER TO postgres;

--
-- Name: shot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shot (
    shot_id uuid NOT NULL,
    match_id integer,
    player_id integer,
    key_pass_id uuid,
    end_location character varying(255),
    aerial_won boolean,
    follows_dribble boolean,
    first_time boolean,
    open_goal boolean,
    statsbomb_xg numeric,
    deflected boolean,
    technique_id integer,
    body_part_id integer,
    shot_type_id integer,
    outcome_id integer
);


ALTER TABLE public.shot OWNER TO postgres;

--
-- Name: shot_outcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shot_outcome (
    outcome_id integer NOT NULL,
    outcome_name character varying(255)
);


ALTER TABLE public.shot_outcome OWNER TO postgres;

--
-- Name: shot_technique; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shot_technique (
    technique_id integer NOT NULL,
    technique_name character varying(255)
);


ALTER TABLE public.shot_technique OWNER TO postgres;

--
-- Name: shot_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shot_type (
    shot_type_id integer NOT NULL,
    shot_type_name character varying(255)
);


ALTER TABLE public.shot_type OWNER TO postgres;

--
-- Name: stadium; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stadium (
    stadium_id integer NOT NULL,
    stadium_name character varying(255),
    country_id integer
);


ALTER TABLE public.stadium OWNER TO postgres;

--
-- Name: team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team (
    team_id integer NOT NULL,
    team_name character varying(255),
    team_gender character varying(10),
    country_id integer
);


ALTER TABLE public.team OWNER TO postgres;

--
-- Name: freeze_frame freeze_frame_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freeze_frame ALTER COLUMN freeze_frame_id SET DEFAULT nextval('public.freeze_frame_freeze_frame_id_seq'::regclass);


--
-- Data for Name: body_part; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.body_part (body_part_id, body_part_name) FROM stdin;
40	Right Foot
38	Left Foot
37	Head
\.


--
-- Data for Name: competition; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.competition (competition_id, competition_name, competition_gender, country_name) FROM stdin;
11	La Liga	\N	Spain
2	Premier League	\N	England
\.


--
-- Data for Name: competition_stage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.competition_stage (competition_stage_id, competition_stage_name) FROM stdin;
1	Regular Season
\.


--
-- Data for Name: country; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.country (country_id, country_name) FROM stdin;
214	Spain
11	Argentina
183	Portugal
147	Mexico
78	France
160	Netherlands
45	Chile
68	England
201	Scotland
112	Italy
109	Ireland
249	Wales
85	Germany
31	Brazil
55	C├┤te d'Ivoire
39	Cameroon
220	Sweden
169	Northern Ireland
166	Nigeria
\.


--
-- Data for Name: dribble; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dribble_outcome; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dribble_outcome (dribble_outcome_id, dribble_outcome_name) FROM stdin;
8	Complete
9	Incomplete
\.


--
-- Data for Name: dribbled_past; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: freeze_frame; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.freeze_frame (freeze_frame_id, shot_id, player_id, team_id, location) FROM stdin;
\.


--
-- Data for Name: lineup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: manager; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: match; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pass; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pass_height; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pass_height (height_id, height_name) FROM stdin;
1	Ground Pass
3	High Pass
2	Low Pass
\.


--
-- Data for Name: pass_outcome; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pass_outcome (pass_outcome_id, pass_outcome_name) FROM stdin;
1000	Completed
9	Incomplete
75	Out
76	Pass Offside
74	Injury Clearance
77	Unknown
\.


--
-- Data for Name: pass_technique; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pass_technique (pass_technique_id, pass_technique_name) FROM stdin;
1000	Unknown
108	Through Ball
104	Inswinging
105	Outswinging
\.


--
-- Data for Name: pass_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pass_type (pass_type_id, pass_type_name) FROM stdin;
65	Kick Off
1000	standard pass in the run of play
66	Recovery
62	Free Kick
67	Throw-in
61	Corner
63	Goal Kick
64	Interception
\.


--
-- Data for Name: player; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: referee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: season; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.season (season_id, season_name) FROM stdin;
4	2018/2019
42	2019/2020
90	2020/2021
44	2003/2004
\.


--
-- Data for Name: shot; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shot_outcome; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shot_outcome (outcome_id, outcome_name) FROM stdin;
100	Saved
98	Off T
96	Blocked
99	Post
\.


--
-- Data for Name: shot_technique; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shot_technique (technique_id, technique_name) FROM stdin;
93	Normal
91	Half Volley
95	Volley
\.


--
-- Data for Name: shot_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shot_type (shot_type_id, shot_type_name) FROM stdin;
87	Open Play
62	Free Kick
\.


--
-- Data for Name: stadium; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: freeze_frame_freeze_frame_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.freeze_frame_freeze_frame_id_seq', 1, false);


--
-- Name: body_part body_part_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.body_part
    ADD CONSTRAINT body_part_pkey PRIMARY KEY (body_part_id);


--
-- Name: competition competition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competition
    ADD CONSTRAINT competition_pkey PRIMARY KEY (competition_id);


--
-- Name: competition_stage competition_stage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competition_stage
    ADD CONSTRAINT competition_stage_pkey PRIMARY KEY (competition_stage_id);


--
-- Name: country country_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.country
    ADD CONSTRAINT country_pkey PRIMARY KEY (country_id);


--
-- Name: dribble_outcome dribble_outcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dribble_outcome
    ADD CONSTRAINT dribble_outcome_pkey PRIMARY KEY (dribble_outcome_id);


--
-- Name: dribble dribble_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dribble
    ADD CONSTRAINT dribble_pkey PRIMARY KEY (dribble_id);


--
-- Name: dribbled_past dribbled_past_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dribbled_past
    ADD CONSTRAINT dribbled_past_pkey PRIMARY KEY (dribbled_past_id);


--
-- Name: freeze_frame freeze_frame_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freeze_frame
    ADD CONSTRAINT freeze_frame_pkey PRIMARY KEY (freeze_frame_id);


--
-- Name: lineup lineup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lineup
    ADD CONSTRAINT lineup_pkey PRIMARY KEY (team_id, match_id, player_id);


--
-- Name: manager manager_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manager
    ADD CONSTRAINT manager_pkey PRIMARY KEY (manager_id);


--
-- Name: match match_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_pkey PRIMARY KEY (match_id);


--
-- Name: pass_height pass_height_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass_height
    ADD CONSTRAINT pass_height_pkey PRIMARY KEY (height_id);


--
-- Name: pass_outcome pass_outcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass_outcome
    ADD CONSTRAINT pass_outcome_pkey PRIMARY KEY (pass_outcome_id);


--
-- Name: pass pass_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_pkey PRIMARY KEY (pass_id);


--
-- Name: pass_technique pass_technique_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass_technique
    ADD CONSTRAINT pass_technique_pkey PRIMARY KEY (pass_technique_id);


--
-- Name: pass_type pass_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass_type
    ADD CONSTRAINT pass_type_pkey PRIMARY KEY (pass_type_id);


--
-- Name: player player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_pkey PRIMARY KEY (player_id);


--
-- Name: referee referee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referee
    ADD CONSTRAINT referee_pkey PRIMARY KEY (referee_id);


--
-- Name: season season_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.season
    ADD CONSTRAINT season_pkey PRIMARY KEY (season_id);


--
-- Name: shot_outcome shot_outcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot_outcome
    ADD CONSTRAINT shot_outcome_pkey PRIMARY KEY (outcome_id);


--
-- Name: shot shot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot
    ADD CONSTRAINT shot_pkey PRIMARY KEY (shot_id);


--
-- Name: shot_technique shot_technique_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot_technique
    ADD CONSTRAINT shot_technique_pkey PRIMARY KEY (technique_id);


--
-- Name: shot_type shot_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot_type
    ADD CONSTRAINT shot_type_pkey PRIMARY KEY (shot_type_id);


--
-- Name: stadium stadium_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stadium
    ADD CONSTRAINT stadium_pkey PRIMARY KEY (stadium_id);


--
-- Name: team team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_pkey PRIMARY KEY (team_id);


--
-- Name: dribble dribble_dribble_outcome_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dribble
    ADD CONSTRAINT dribble_dribble_outcome_id_fkey FOREIGN KEY (dribble_outcome_id) REFERENCES public.dribble_outcome(dribble_outcome_id);


--
-- Name: dribble dribble_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dribble
    ADD CONSTRAINT dribble_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.match(match_id);


--
-- Name: dribble dribble_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dribble
    ADD CONSTRAINT dribble_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.player(player_id);


--
-- Name: dribbled_past dribbled_past_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dribbled_past
    ADD CONSTRAINT dribbled_past_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.match(match_id);


--
-- Name: dribbled_past dribbled_past_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dribbled_past
    ADD CONSTRAINT dribbled_past_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.player(player_id);


--
-- Name: freeze_frame freeze_frame_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freeze_frame
    ADD CONSTRAINT freeze_frame_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.player(player_id);


--
-- Name: freeze_frame freeze_frame_shot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freeze_frame
    ADD CONSTRAINT freeze_frame_shot_id_fkey FOREIGN KEY (shot_id) REFERENCES public.shot(shot_id);


--
-- Name: freeze_frame freeze_frame_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freeze_frame
    ADD CONSTRAINT freeze_frame_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.team(team_id);


--
-- Name: lineup lineup_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lineup
    ADD CONSTRAINT lineup_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.match(match_id);


--
-- Name: lineup lineup_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lineup
    ADD CONSTRAINT lineup_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.player(player_id);


--
-- Name: lineup lineup_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lineup
    ADD CONSTRAINT lineup_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.team(team_id);


--
-- Name: manager manager_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manager
    ADD CONSTRAINT manager_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.country(country_id);


--
-- Name: match match_away_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_away_team_id_fkey FOREIGN KEY (away_team_id) REFERENCES public.team(team_id);


--
-- Name: match match_away_team_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_away_team_manager_id_fkey FOREIGN KEY (away_team_manager_id) REFERENCES public.manager(manager_id);


--
-- Name: match match_competition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_competition_id_fkey FOREIGN KEY (competition_id) REFERENCES public.competition(competition_id);


--
-- Name: match match_competition_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_competition_stage_id_fkey FOREIGN KEY (competition_stage_id) REFERENCES public.competition_stage(competition_stage_id);


--
-- Name: match match_home_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_home_team_id_fkey FOREIGN KEY (home_team_id) REFERENCES public.team(team_id);


--
-- Name: match match_home_team_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_home_team_manager_id_fkey FOREIGN KEY (home_team_manager_id) REFERENCES public.manager(manager_id);


--
-- Name: match match_referee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_referee_id_fkey FOREIGN KEY (referee_id) REFERENCES public.referee(referee_id);


--
-- Name: match match_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.season(season_id);


--
-- Name: match match_stadium_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_stadium_id_fkey FOREIGN KEY (stadium_id) REFERENCES public.stadium(stadium_id);


--
-- Name: pass pass_body_part_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_body_part_id_fkey FOREIGN KEY (body_part_id) REFERENCES public.body_part(body_part_id);


--
-- Name: pass pass_height_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_height_id_fkey FOREIGN KEY (height_id) REFERENCES public.pass_height(height_id);


--
-- Name: pass pass_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.match(match_id);


--
-- Name: pass pass_pass_outcome_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_pass_outcome_id_fkey FOREIGN KEY (pass_outcome_id) REFERENCES public.pass_outcome(pass_outcome_id);


--
-- Name: pass pass_pass_technique_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_pass_technique_id_fkey FOREIGN KEY (pass_technique_id) REFERENCES public.pass_technique(pass_technique_id);


--
-- Name: pass pass_pass_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_pass_type_id_fkey FOREIGN KEY (pass_type_id) REFERENCES public.pass_type(pass_type_id);


--
-- Name: pass pass_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.player(player_id);


--
-- Name: pass pass_recipient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pass
    ADD CONSTRAINT pass_recipient_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.player(player_id);


--
-- Name: player player_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.country(country_id);


--
-- Name: referee referee_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referee
    ADD CONSTRAINT referee_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.country(country_id);


--
-- Name: shot shot_body_part_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot
    ADD CONSTRAINT shot_body_part_id_fkey FOREIGN KEY (body_part_id) REFERENCES public.body_part(body_part_id);


--
-- Name: shot shot_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot
    ADD CONSTRAINT shot_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.match(match_id);


--
-- Name: shot shot_outcome_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot
    ADD CONSTRAINT shot_outcome_id_fkey FOREIGN KEY (outcome_id) REFERENCES public.shot_outcome(outcome_id);


--
-- Name: shot shot_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot
    ADD CONSTRAINT shot_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.player(player_id);


--
-- Name: shot shot_shot_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot
    ADD CONSTRAINT shot_shot_type_id_fkey FOREIGN KEY (shot_type_id) REFERENCES public.shot_type(shot_type_id);


--
-- Name: shot shot_technique_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shot
    ADD CONSTRAINT shot_technique_id_fkey FOREIGN KEY (technique_id) REFERENCES public.shot_technique(technique_id);


--
-- Name: stadium stadium_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stadium
    ADD CONSTRAINT stadium_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.country(country_id);


--
-- Name: team team_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.country(country_id);


--
-- PostgreSQL database dump complete
--

